<div class="main2">
        <div class="card">
                <h2 style="text-align:right; margin-right:60px;"> Change your Credentials</h2>

                <form #changePasswordForm='ngForm' style="float: left; margin-left:50px;">
                        <div class="container" style="text-align:center; border:2px solid black;
           border-radius: 10px;">
                                <label for="psw"><b>Set Login Password</b></label><br>
                                <input class="pswrd1" type="password" placeholder="Enter Password" id="psw" name="psw"
                                        required [(ngModel)]=dashPassword.loginPassword><span
                                        class="show1">SHOW</span><br>

                                <label for="psw1"><b>Confirm Login Password</b></label><br>
                                <input class="pswrd2" type="password" placeholder="Enter Password" id="psw1" name="psw1"
                                        required><span class="show2">SHOW</span><br>

                                <label for="tpsw"><b>Set Transaction Password</b></label><br>
                                <input class="pswrd3" type="password" placeholder="Enter Password" id="tpsw" name="tpsw"
                                        required [(ngModel)]=dashPassword.transPassword><span
                                        class="show3">SHOW</span><br>

                                <label for="tpsw1"><b>Confirm Transaction Password</b></label><br>
                                <input class="pswrd4" type="password" placeholder="Enter Password" id="tpsw1"
                                        name="tpsw1" required><span class="show4">SHOW</span><br>


                                <span> <button type="reset" class="cancelbtn">Reset</button>
                                        <button type="submit" [disabled]="!changePasswordForm.valid"
                                                (click)='setPass()'>Change</button></span>
                        </div>

                </form>
        </div>
</div>