<i class="large material-icons" style="font-size: 60px;">account_circle</i>
<table class="info">
        <tr>
            <th>
                <span>Customer ID:</span>
            </th>
            <th>
                <span>{{userProfile.customerId}}</span>
            </th>
        </tr>

        <tr>
            <th>
                <span>First Name:</span>
            </th>
            <th>
                <span>{{userProfile.firstName}}</span>
            </th>
        </tr>
        <tr>    
            <th>
                <span>Last Name:</span>
            </th>
            <th>
                <span>{{userProfile.lastName}}</span>
            </th>
        </tr>
        
        <tr>
            <th>
                <span>Mobile Number:</span>
            </th>
            <th>
                <span>{{userProfile.phoneNumber}}</span>
            </th>
        </tr>
        <tr>   
            <th>
                <span>Email ID:</span>
            </th>
            <th>
                <span>{{userProfile.email}}</span>
            </th>
        </tr>
        <tr>
            <th>
                <span>Aadhar Number:</span>
            </th>
            <th>
                <span>{{userProfile.aadharNo}}</span>
            </th>
        </tr>
        <tr>
            <th>
                <span>Local Address:</span>
            </th>
            <th>
                <span>{{userProfile.localAddress}}</span>
            </th>
        </tr>
        <tr>
            <th>
                <span>Permanent Address:</span>
            </th>
            <th>
                <span>{{userProfile.permanentAddress}}</span>
            </th>
        </tr>
        <tr>
            <th>
                <span>Debit Card Status:</span>
            </th>
            <th>
                <span>{{userProfile.debitCardStatus}}</span>
            </th>
        </tr>
        <tr>
            <th>
                <span>Net Banking Status:</span>
            </th>
            <th>
                <span>{{userProfile.netBankingStatus}}</span>
            </th>
        </tr>
</table>