.container
{
    background-image: url('/assets/img.png');
}
.containerInfo
{
     border:2px solid black;
     margin-left: 100px;
     border-radius: 10px;

}
.material-icons
{
    
    font-size:40px;
}
.containerInfo h2,h3,h1
{
     text-align: center;
}
.containerInfo p
{
     text-align: center;
}