<div class="balance" >
    <img src="/assets/account-Balance.jpeg" alt="img" width="150px" height="150px">
    <h1>Account Balance</h1>
    <table class="status" align="center">
    
        <tbody>
            <tr>
                <th>
                    <span>Name:</span>
                </th>
                <td>
                    <span>{{customerName}}</span>
                 </td>   
            </tr>
    
            <tr>
                <th>
                    <span>Account Number:</span>
                </th>
                <td>
                    <span>{{user.accountNo}}</span>
                 </td>   
            </tr>
    
            <tr>
                <th>
                    <span>Account Type:</span>
                </th>
                <td>
                    <span>{{user.accountType}}</span>
                 </td>   
            </tr>
            <tr>
                <th>
                    <span>Account Balance:</span>
                </th>
                <td>
                    <span>{{user.accountBalance}}</span>
                 </td>   
            </tr>
            <tr>
                <th>
                    <span>Account Status:</span>
                </th>
                <td>
                    <span>{{user.accountStatus}}</span>
                 </td>   
            </tr>
         </tbody>
         
         </table>
    
        </div>
            <!-- serialReferenceNumber:number;
      status:string;
      verified:string; -->