<app-header-nav></app-header-nav>
<div style="background-color:#4294db;width:90%;text-align:center;padding:70px;justify-content: center;align-items: center;margin: auto;margin-right:30px"> 
    <div style="background-color:white;width:50%;text-align:center;border-radius:20px;padding:2px;margin:10px auto"> 
      <img src="/assets/session_logo.png" alt="img" width="150px" height="150px">
      <h3 style="font-size:2vw;">You have been Successfully log out</h3> 
      <p style="font-size:1vw;">Please login again to access our net banking facility</p> 
      <button class=" button login_again" [routerLink]="['/loginLink']">Login Again!</button><br>
    </div> 
</div> 
