<app-header-nav></app-header-nav>
    <div class="AccountCatagoryTable">
        <h2 class="pricingTable-title" style=" text-align: center;">Find an Account that's right for you.</h2>
        <h3 class="pricingTable-subtitle" style=" text-align: center; padding-bottom: 10px;padding-top: 20px;">Every plan comes with its own Featues.</h3>
        
        <ul class="pricingTable-firstTable">
          <li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Savings Account</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>%</span><span>0.5</span><span>Interest/Month</span></p>
            <ul class="pricingTable-firstTable_table__options">
              <li>Personal Account</li>
              <!-- <li>Max transaction of 50000/day</li>
              <li>Low cost EMI on loans</li> -->
            </ul>
            <div class="pricingTable-firstTable_table__getstart"><a [routerLink]="['/registerLink']" style="text-decoration:none;color: white;">Create Savings Account</a></div>
          </li>
          <li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Current Account</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>%</span><span>1.0</span><span>Interest/Month</span></p>
            <ul class="pricingTable-firstTable_table__options">
              <li>Commercial Account</li>
              <!-- <li>Max transaction of 250000/day</li>
              <li>Easy Loans</li>
              <li>0% Interest on 6/9 Months EMI</li> -->
            </ul>
            <div class="pricingTable-firstTable_table__getstart"><a [routerLink]="['/registerLink']" style="text-decoration:none;color: white;">Create Current Account</a></div>
          </li><li class="pricingTable-firstTable_table">
            <h1 class="pricingTable-firstTable_table__header">Salaried Account</h1>
            <p class="pricingTable-firstTable_table__pricing"><span>%</span><span>0.85</span><span>Interest/Month</span></p>
            <ul class="pricingTable-firstTable_table__options">
              <li>For Employees</li>
              <!-- <li>Edit Your Listing</li>
              <li>Approve Reviews</li> -->
            </ul>
            <div class="pricingTable-firstTable_table__getstart"><a [routerLink]="['/registerLink']" style="text-decoration:none;color: white;">Create Salaried Account</a></div>
          </li>
        </ul>
      </div>
