<app-header-nav></app-header-nav>
<div class="card1">
    <h2 style="text-align:left;margin-left: 100px;padding-top:20px;">Admin Login</h2>
    <form #AdminloginForm='ngForm' style="float: left;">

        <div class="container" style="text-align:center; border:2px solid black;
    width: 350px; padding-left: 20px;">
            <div class="field">
                <form (ngSubmit)="adminLogin()">
                    <label for="uname"><b> <i class="material-icons"
                                style="font-size: 50px; color:#1474a8;">account_box</i></b></label><br>
                    <input type="number" style="margin-left: 5px;" name="adminId" placeholder="Enter AdminId" id="uname"
                        required [(ngModel)]=Admin.adminId><br>
                    <input class="pswrd" type="password" placeholder="Enter Password" name="password" id="psw"
                        style="margin-left: 5px;" required [(ngModel)]=Admin.adminPassword>
                    <button type="submit">Login</button><br><br>
                </form>
            </div>
            <label>
            </label>
            <br>

        </div>
    </form>

</div>