<app-header-nav></app-header-nav>
<div style="background-image: url('/assets/img.png');width:100%;text-align:center;padding:80px;justify-content: center;align-items: center;margin: auto;"> 
    <div style="background-color:white;width:50%;text-align:center;border-radius:20px;padding:2px;margin:5px auto;box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);"> 
      <img src="/assets/accountLocked_icon.png" alt="img" width="120px" height="120px">
      <h3 style="font-size:24px;">Your account is temporarily locked</h3> 
      <p style="font-size:1vw;">Internet banking Access has now been locked due to security resason.</p> 
      <p style="font-size:1vw;">Please reset your password by using your <span style="color:#06529e; font-weight: 650;">registered mobile number.</span></p> 
      <p style="font-size:1vw;">Failed Login Attempts (3)</p> 
      <span><p style="font-size:1vw;">Redirecting in...</p></span><span><p style="font-size:1vw;">{{timeLeft}} seconds</p></span>
    
    </div> 
  </div> 
