<div class="second" style="background-color:white;width:400px;text-align:center;border-radius:20px;padding-left:10px;padding-right:10px;margin:10px 200px"> 
    <img src="/assets/invoice-logo.png" alt="img" width="150px" height="150px">
    <h3 style="font-size:2vw;">Your Transaction slip</h3> 
    <table class="main">     
        <tr>
        <th>Transaction Id :</th>
        <td>{{transactionId}}</td>
    </tr><br>
    <tr>
        <th> Mode :</th>
        <td>{{transactionMethod}}</td>
    </tr><br>
    <tr>
        <th>Amount :</th>
        <td>{{transactionAmount}}</td>
    </tr><br>
    <tr>
        <th>From Account :</th>
        <td>{{fromAccount}}</td>
    </tr><br>
    <tr>
        <th>To Account :</th>
        <td>{{toAccount}}</td>
    </tr><br>
    <tr>
        <th>Transaction Date :</th>
<td>{{transactionDate}}</td>
        </tr><br>
      </table>
   </div> 
